body{
    margin:0;
    padding:0;
    background:#34495e;
}

.search-box{
    position:absolute;
    top:50%;
    left:50%;
 

    background: #ecf0f1;
    height: 40px;
    border-radius: 40px;
    width:350px;
    transition:width 0.7s ease-in-out;
}


.search-box:hover{
    background: #bdc3c7; 
    width: 450px;  
}

.search-input{
    background: none;
    border:none;
    outline:none;
    padding:0 10px;
    font-size:16px;
    line-height: 40px;
    width: 250px;   
}

::placeholder {
    color:#95a5a6;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#95a5a6;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color:#95a5a6;
}

.search-btn{
    background:#2ecc71;
    color:#bdc3c7;
    width:60px;
    height:40px;
    float:left;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
}